[submodule "INF1051"]
	path = INF1051
	url = https://github.com/CollegeBoreal/INF1051-17H
[submodule "INF1021"]
	path = INF1021
	url = https://github.com/CollegeBoreal/INF1021-17H
[submodule "INF1069"]
	path = INF1069
	url = https://github.com/CollegeBoreal/INF1069-17H
[submodule "INF1041"]
	path = INF1041
	url = https://github.com/CollegeBoreal/INF1041-17H
[submodule "INF1042"]
	path = INF1042
	url = https://github.com/CollegeBoreal/INF1042-17H
[submodule "INF1053"]
	path = INF1053
	url = https://github.com/CollegeBoreal/INF1053-17H
[submodule "INF1055"]
	path = INF1055
	url = https://github.com/CollegeBoreal/INF1055-17H
